.cardPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}
.cardImage img {
  border-radius: 0.2rem;
  background-color: none;
}
.cardImage {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px #3b455935;
}
.cardTitle {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cardTitle:hover {
  color: #353ffc;
}
.cardContainer {
  padding: 0.5rem 0;
}
