.landingSectionBg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fdd855;
  padding: 2rem 1rem 0 1rem;
  width: 100%;
}
.landingImageBg {
  width: 100%;
  text-align: right;
}
.landingSecImage {
  display: flex;
  align-items: flex-end;
}
.bgWhite {
  background-color: white;
}

@media (min-width: 640px) {
  .landingSectionBg {
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0 2rem;
  }
  .landingTextBg {
    align-items: flex-start;
    padding: 3rem 0;
  }
  .landingImageBg {
    width: 60%;
  }
  .landingSecImage {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
  }
  .bgWhite {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
}
@media (min-width: 769px) {
  .bgWhite {
    gap: 6rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .landingSectionBg {
    border-radius: 1rem;
  }
}
