.login {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.signupTitle {
  height: 130px;
  overflow: hidden;
  align-items: flex-start;
}
.loginTitle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.loginSignUp {
  margin-top: 1.2rem;
}
.loginLogo {
  display: none;
}
.signupLocation {
  display: flex;
  gap: 1rem;
}
.signupImage {
  height: 100px;
  align-self: flex-start;
}
.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}
.loginSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

@media (min-width: 600px) {
  .login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .loginImage {
    height: 800px;
  }
  .loginLogo {
    display: block;
    width: 9rem;
  }
  .loginTitle {
    height: 100vh;
    background-color: #fdd534;
    justify-content: space-around;
    align-items: center;
  }
  .signupImage {
    height: 400px;
    align-self: center;
  }
  .loginSignUp {
    margin-top: 2.5rem;
    gap: 0.5rem;
    align-self: center;
  }
  .loginInputs {
    gap: 1rem;
    align-self: center;
  }
}
